# 🚀 Notion API
NOTION_SECRET=your_notion_integration_token
NOTION_DB_ID=your_notion_database_id

# 📈 cTrader API
CTRADER_CLIENT_ID=your_ctrader_client_id
CTRADER_CLIENT_SECRET=your_ctrader_client_secret
CTRADER_HOST_TYPE=demo  # or 'live'
CTRADER_ACCESS_TOKEN=your_ctrader_access_token
CTRADER_ACCOUNT_ID=your_ctrader_account_id

# MT5
MT5_LOGIN=5039511945
MT5_PASSWORD='anatuX298!@#'
MT5_SERVER='MetaQuotes-Demo'
MT5_PATH='C:\Program Files\MetaTrader 5\terminal64.exe'

# 🌐 Ngrok
NGROK_TOKEN=your_ngrok_auth_token

